html {
  --fundo-pagina: rgb(91, 194, 212);
  --fundo-conteudo: rgba(255, 255, 255,.75);
}

* {
  color: rgba(0,0,0, .75);
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: rgb(91, 194, 212);
  color: var(--fundo-pagina);
  
  background-color: currentColor;
}

body {
  width: 40em;
  max-width: 80%;
  min-height: 5em;
  
  padding: 1.5em 2em 1.75em;
  
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;

  border-radius: .7em;
  background-image: linear-gradient(
    rgba(255,255,255,.75),
    rgba(255,255,255,.75)
  );
  background-image: linear-gradient(
    var(--fundo-conteudo),
    var(--fundo-conteudo)
  );
}

h1 {
  margin-bottom: 1em;
}
